
@{
    var majors = ViewBag.Majors as IEnumerable<FirstWeb.Models.Major>;
    
 
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - FirstWeb</title>

    <link rel="stylesheet" href="~/css/sidebar.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FirstWeb.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="~/js/script.js"></script>
    <script src="~/js/scriphome.js"></script>
</head>
<body >
    <header>
        @{

            var user = Context.Session.GetObjectFromJson<Login>("User");

        }
        @if(user != null)
        {
            <nav class="navbar navbar-inverse" style="position: fixed; width: 100%">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a asp-controller="GioHang" asp-action="GioHangView">Giỏ Sinh Viên</a></li>
                        <li><a asp-controller="LichSu" asp-action="LichSuView">Lịch sử</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form asp-controller="Home" asp-action="Index" class="form-inline centered-form" method="post">
                                <input type="text" class="form-control" placeholder="Nhập tên cần tìm kiếm.." name="tenNganh" value="@ViewBag.Search">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                        <li>
                            <a>
                                Xin Chào: @user.taiKhoan
                            </a>
                        </li>       
                        <li><a asp-controller="DangXuat" asp-action="DangXuat"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
                    </ul>
                </div>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-inverse" style="position: fixed; width: 100%">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">WebSiteName</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a a asp-controller="Home" asp-action="Index">Trang chủ</a></li>
                        <li><a asp-controller="GioHang" asp-action="GioHangView">Giỏ Sinh Viên</a></li>
                        <li><a asp-controller="LichSu" asp-action="LichSuView">Lịch sử</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <form asp-controller="Home" asp-action="Index" class="form-inline centered-form" method="post">
                                <input type="text" class="form-control" placeholder="Nhập tên cần tìm kiếm.." name="tenNganh" value="@ViewBag.Search">
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </form>
                        </li>
                        <li>
                            <a asp-controller="DangNhap" asp-action="DangNhapView">
                                <span class="glyphicon glyphicon-user"></span> Login
                            </a>
                        </li>
                        <li><a asp-controller="DangKy" asp-action="DangKyView"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
                    </ul>
                </div>
            </nav>
        }

    </header>
   
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="sidebar">
                    <table class="table table-hover">
                        <tbody>
                            @foreach (var major in majors)
                            {
                                <tr>
                                    <td>
                                        <a asp-controller="Home" asp-action="Index" asp-route-maNganh="@major.maNganh">
                                            @major.tenNganh
                                        </a>
                                    </td>
                                </tr>
                            }                            
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="col-9">
                <div class="main">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

    </div>


    <footer class="border-top footer text-muted" style="position: fixed">
        <div class="container">
            &copy; 2024 - FirstWeb - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
