@model IEnumerable<FirstWeb.Models.Student>

@{
    ViewData["Title"] = "Danh sách sinh viên trong giỏ ";
    var soluong = Context.Session.GetObjectFromJson<List<Student>>("Students") ?? new List<Student>();
    int total = soluong.Sum(student => student.soDiemCong);
}
   

<h1>Danh sách sinh viên trong giỏ</h1>

@if (Model != null && Model.Any())

{
    <form asp-controller="GioHang" asp-action="ClearAll" method="post">
        <button type="submit" class="btn btn-danger btn-white">Clear All</button>
    </form>
   
    <table class="table">
        <thead>
            <tr>
                <th>
                   
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().image)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().maSV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().hoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().gioiTinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ngaySinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().soDiemCong)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().maNganh)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        <form asp-controller="XoaSua" asp-action="XoaSua" method="post">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div style="margin-left: 20px">
                            <input class="form-check-input" type="checkbox" name="c1" value="@item.maSV">
                        </div>
                    </td>
                    <td>
                        <img src="~/@item.image" style="width: 100px; height: 100px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.maSV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngaySinh)
                    </td>
                    <td>
                         @Html.DisplayFor(modelItem => item.soDiemCong)
                        <input type="number" name="soDiemCong" value="@item.maSV" style="width: 40px" min="1" />
                        <button type="submit" name="Sua" value="@item.maSV">+</button>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.maNganh)
                    </td>
                    <td>
                        <button type="submit" name="Xoa" value="@item.maSV" class="w3-button w3-red w3-border">Delete</button>
                    </td>
                </tr>
            }
            <div class="cart-footer" style="margin-top: 10px">
                <button type="submit" name="xoachon" class="btn btn-danger btn-white ">Xóa Chọn</button>
            </div>
        </form>
        </tbody>
    </table>
    <div style="display: flex;">
        <div>
            <form asp-controller="LichSu" asp-action="DuoiHoc" method="post">
                <button type="submit" class="w3-button w3-green w3-border">Đuổi học</button>
            </form>
        </div>
        <div style="margin-left: 50px; margin-top: 10px">
            <p>Tổng số điểm cộng: @total </p>
        </div>
    </div>

}
else
{
    <p>Không có sinh viên nào trong giỏ .</p>
}

<div>
    <a asp-controller="Home" asp-action="Index">Quay lại danh sách</a>
</div>
