@model IEnumerable<FirstWeb.Models.Student>

@{
    ViewData["Title"] = "Danh sách sinh viên trong giỏ hàng";
}
   

<h1>Danh sách sinh viên trong giỏ hàng</h1>

@if (Model != null && Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.First().maSV)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().hoTen)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().gioiTinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().ngaySinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.First().soDiemCong)
                </th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.maSV)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.hoTen)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.gioiTinh)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ngaySinh)
                    </td>
                    <td>
                        <form asp-controller="GioHang" asp-action="UpdatePoint" method="post">
                            <input type="hidden" name="maSV" value="@item.maSV" />
                            <input type="number" name="soDiemCong" style="width: 40px" value="@item.soDiemCong" />
                                <button type="submit" >+</button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="GioHang" asp-action="Delete" method="post">
                            <input type="hidden" name="maSV" value="@item.maSV" />
                                <button type="submit" class="w3-button w3-red w3-border">Delete</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Không có sinh viên nào trong giỏ hàng.</p>
}

<div>
    <a asp-controller="Home" asp-action="Index">Quay lại danh sách</a>
</div>
