@model FirstWeb.Models.Student

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Student</h4>
    <hr />
    <table class="table">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.image)
                </th>
                <td>
                    <img src="~/@Model.image" style="width: 100px; height: 100px" />
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.maSV)
                </th>
                <td>
                    @Html.DisplayFor(model => model.maSV)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.hoTen)
                </th>
                <td>
                    @Html.DisplayFor(model => model.hoTen)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.gioiTinh)
                </th>
                <td>
                    @Html.DisplayFor(model => model.gioiTinh)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ngaySinh)
                </th>
                <td>
                    @Html.DisplayFor(model => model.ngaySinh)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.soDiemCong)
                </th>
                <td>
                    @Html.DisplayFor(model => model.soDiemCong)
                </td>
            </tr>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.maNganh)
                </th>
                <td>
                    @Html.DisplayFor(model => model.maNganh)
                </td>
            </tr>
        </tbody>
    </table>


    
    <form asp-action="Delete" method="post">
        <input type="hidden" name="maSV" value="@Model.maSV" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-controller = "Home" asp-action="Index">Back to List</a>
    </form>
</div>
